extends layout

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/offers.css')
    script(src='/scripts/offers.js')
    #trade
        h1 Offers
            for trade in  trades
                h2 Offer
                h3 #{trade.from_user_name}
                p
                    strong Offered Item:
                        li= trade.from_user_offered_item_name
                    p
                    strong Item in exchange:
                        li= trade.from_user_wanted_item_name
                    p
                    strong Dates:
                        li #{trade.start_date}
                        li #{trade.end_date}
                button(value=trade.id, onclick='on_accept_offer()') Accept
                button(value=trade.id, onclick='on_deny_offer()') Deny
            else
                li You have no pending trades.
