extends layout

block content
    link(rel='stylesheet', type='text/css', href='/stylesheets/offers.css')
    script(src='/scripts/offers.js')
    #trade
        h1 Offers
            for trade in  trades
                h2 Offer
                h3 #{trade.from_user_name}
                p
                    strong Offered Item:
                        li= trade.from_user_offered_item_name
                    p
                    strong Item in exchange:
                        li= trade.from_user_wanted_item_name
                    p
                    strong Dates:
                        li #{trade.start_date}
                        li #{trade.end_date}
                    p
                    strong Contact:
                        li #{trade.from_user_phone}
                        li #{trade.from_user_email}
                        li #{trade.from_user_address}
                button.btn.btn-primary.btn-md(onclick='on_accept_offer(#{value=trade.id})') Accept
                button.btn.btn-primary.btn-md(onclick='on_deny_offer(#{value=trade.id})') Deny
            else
                li You have no offers.
