extends layout

block content
        link(rel='stylesheet', href='/stylesheets/profile.css')
        script(src='/scripts/profile.js')
        #profile
            h1 #{user.name}
            p
                strong Email:
                | #{user.email}
            p
                strong Phone:
                | #{user.phone}
            p
                strong Address:
                | #{user.address}
            p
                strong Offered Items:
                for item in offeredItems
                    li= item.name
                else
                    li This user doesn't have any offered items yet
                p
                form(method="post")
                     input#offered_item_add(name="item_offered_name")
                     button Add offered item
            p
                strong Wanted Items:
                for item in wantedItems
                    li= item.name
                else
                    li This user doesn't have any offered items yet
                p
                form(method="post")
                    input#wanted_item_add(name="item_wanted_name")
                    button Add wanted item
            button.btn.btn-primary.btn-md(onclick='show_box()')#offer_button Send an offer
            .form-group#form_box(style="display:none")
                textarea.form-control#offer_message
